body {
  /* background-color: #0d6efd; */
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}
button:hover {
  opacity: 0.8;
}
.jumbotron {
  padding-top: 10rem;
  margin-bottom: 0;
  background-image: url(img/wave.svg);
  background-repeat: repeat-x;
  /* background-position: 0 367px; */
  background-position: bottom;
  /* background-attachment: fixed; */
  /* background-position-x: 100%; */
  min-height: 800px;
  /* max-height: 1000px; */
  /* background-color: red; */
}
.about {
  margin-top: 0;
  padding-top: 5rem;
  /* color: aliceblue; */
  /* height: 400px; */
  background-color: rgba(13, 110, 253, 0.8);
  min-height: 400px;
}
.projects {
  padding-top: 5rem;
}
.contact {
  /* color: aliceblue; */
  min-height: 600px;
  background-color: rgba(13, 110, 253, 0.8);
}
