html,
body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  margin: 0 auto;
  /* background-color: blueviolet; */
  width: 80%;
  height: 90px;
  justify-content: space-between;
  align-items: center;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
  list-style: none;
}
a {
  margin-right: 20px;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.2px;

  color: #000000;
}
h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: 0.1px;
  /* text-color */
  color: #252b42;
}
.btn-primary {
  padding: 15px 25px;

  width: 137px;
  height: 52px;
  left: 0px;
  top: 0px;

  /* primary-color */

  background: #8d5cf6;
  border-radius: 5px;
}
.btn-secondary {
  width: 41px;
  height: 22px;
  /* left: calc(50% - 41px / 2);
  top: calc(50% - 22px / 2); */

  /* btn-text */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  text-align: right;
  letter-spacing: 0.2px;

  /* primary-color */

  color: #8d5cf6;
}
